@font-face {
    font-family: 'GREY Regular';
    font-style: normal;
    font-weight: normal;
    src: local('GREY Regular'), url('GREY.woff') format('woff');
}

h1 {
    font-family: 'GREY Regular';
    color: white;
}

h1.f-headline {
    margin: auto 0;
}